@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20%);
    }
  }
  
 .hover-wave:hover .letter {
    display: inline-block;
    animation: wave 0.8s ease-in-out;
    color: #FFEB00;
  }

  ::-webkit-scrollbar {
    display: none;
}

  html {
    scroll-behavior: smooth;
    overflow-x: none;
  }

  ::selection {
    color: #fff;
    background: #FFEB00;
  }
  
  